
.ubi{
    width: 100%;
    height: 100%;
    padding: 1px;
}
.ubicacion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.ubicacion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px; /* Ajusta el ancho máximo si es necesario */
    width: 100%;
    box-sizing: border-box;
}

.ubicacion-image-container {
    text-align: center;
    padding-right: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
     /* Ajusta el ancho máximo si es necesario */
}

.ubicacion-image-container h2 {
    margin-bottom: 10px;
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente del título */
}

.ubicacion-image-container p {
    margin-bottom: 20px;
    font-size: 1rem; /* Ajusta el tamaño de la fuente del párrafo */
}   

.ubicacion-map-container {
    min-width: 300px;
    height: 400px;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px; /* Ajusta el ancho máximo si es necesario */
}

/* Media query para pantallas pequeñas */
@media (max-width: 480px) {
    .ubicacion-container {
        flex-direction: column;
        margin: 10px 0;
    }

    .ubicacion-content {
        max-width: 100%;
        padding: 10px;
    }

    .ubicacion-image-container {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .ubicacion-map-container {
        width: 100%;
        height: 400px; /* Ajustamos la altura del mapa para que ocupe menos espacio */
        margin-top: 20px;
    }
}