@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.banner {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
}

.menu__list__item {
  cursor: pointer;
}

.line-span {
  display: block;
  height: 2px;
  background-color: whitesmoke;
  width: 0;
  transition: width 0.5s ease;
  /*position: absolute;*/
  bottom: 1;
}

/*.menu__list__item:hover .line-span {
    width: 100%; 
  }*/

.menu__list__item:hover .mencomponet {
  opacity: 1;
  /*display: flex; */
  visibility: visible;
}
.menu__list__item {
  list-style: none;
}

/* Estilos para la versión móvil */
@media (max-width: 768px) {
  .hidden {
    display: none;
  }

  .block {
    display: block;
  }
}

/* Estilos para la versión de escritorio */
@media (min-width: 768px) {
  .menu__list__item {
    display: flex;
    justify-content: center;
    gap: 5%;
  }

  .md\\:hidden {
    display: none;
  }
}