@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.mencomponet {
  padding: 0px 3%;
  position: absolute;
  width: 100%;
  /*display: none;*/
  visibility: hidden;
  top: 58px;
  left: 0px;
  z-index: 1;
  opacity: 0;
  justify-content: center;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  white-space: nowrap;
  /*height: 80%;*/

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid-list li {
  list-style-type: none;
  padding: 1px 0;
  width: fit-content;
  color: #646363;
  position: relative;
  display: flex;
  flex-direction: column;
}

.grid-list span {
  position: absolute;
  height: 1px;
  background-color: #646363;
  width: 0%;
  bottom: 0;
}

.grid-list li:hover span {
  width: 100%;
}
